/* /Users/sencha/Sites/PSA/MultiPackageDemo/packages/local/Users/src/Main.scss:1 */
.demo-users-cell .x-body-el {
    font-weight: 700;
}
/* /Users/sencha/Sites/PSA/MultiPackageDemo/packages/local/Users/src/Main.scss:9 */
.demo-user-bio {
    line-height: 40px;
    margin-left: 50px;
    vertical-align: middle;
}
/* /Users/sencha/Sites/PSA/MultiPackageDemo/packages/local/Users/src/Main.scss:15 */
.demo-users-avatar {
    border-radius: 50%;
    border: 2px solid #ddd;
    height: 40px;
    width: 40px;
    float: left;
}